{% load is_between %}

{% for calendar in calendars %}
    <div class='mb-20'>
        <span class='text-center font-semibold text-lg block mb-8'>
            {{ calendar.get_month }} / {{ calendar.year }}
        </span>
        <div class='cal-grid font-medium mb-4'>
            {% for day in calendar.day_names %}
                <span>{{ day }}</span>
            {% endfor %}
        </div>
        <div class='cal-grid'>
            {% for day in calendar.get_days %}
                {% is_between room day as is_between_bool %}
                {% if day.number != 0 %}
                    {% if day.past %}
                        <span class="cal-number bg-gray-200 text-gray-400">
                            {{ day }}
                        </span>
                    {% elif is_between_bool %}
                        <span class='cal-number bg-gray-200 text-gray-400 line-through'>
                            {{ day }}
                        </span>
                    {% else %}
                        <span class='cal-number bg-gray-200 text-gray-700 hover:bg-teal-400 hover:text-white hover:font-medium'>
                            {{ day }}
                        </span>
                    {% endif %}
                {% else %}
                    <span></span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
