{% load i18n %}

<div class='w-1/4 mb-10 px-3 overflow-hidden'>
    <a href="{% url 'rooms:detail' room.pk %}">
        <div class='w-full h-48 bg-cover bg-center rounded-lg mb-2' style='background-image: url({{ room.first_photo }});'></div>
        <div class='flex justify-between mb-2 truncate'>
            <div class='w-4/5 overflow-hidden flex'>
                {% if room.host.superhost %}
                    <span class='uppercase font-medium text-xs border border-black text-black rounded py-px px-1 mr-2'>
                        {% trans 'superhost' %}
                    </span>
                {% endif %}
                <span class='text-sm text-gray-600 block truncate'>
                    {{ room.city }},
                    {{ room.country.name }}
                </span>
            </div>
            <div class='text-sm flex items-center'>
                <i class="fas fa-star text-red-500 text-xs mr-1"></i>
                {{ room.total_rating }}
            </div>
        </div>
        <span class='text-black w-11/12 block truncate'>
            {{ room.name }}
        </span>
    </a>
    <a href="{% url 'reservations:detail' reservation.pk %}">
        <div class='text-center font-medium mt-3 mb-2'>
            {% trans 'Reservation Info' %}
        </div>
        {% if request.session.is_hosting %}
            <div class='text-center mb-2'>{% blocktrans with guest=reservation.guest.first_name %}Guest : {{ guest }}{% endblocktrans %}</div>
        {% endif %}
        <div class='text-center'>{{ reservation.check_in }} - {{ reservation.check_out }}</div>
        <div class='mt-2 mb-2 text-center'>
            <span class='{% if reservation.status == "pending" %} text-yellow-500 {% elif reservation.status == "canceled" %} text-red-600 {% else %} text-teal-600 {% endif %}'>{{ reservation.get_status_display }}</span>
        </div>
    </a>
</div>
