{% extends 'base.html' %}

{% block page_title %}
    {{ room.name }}
{% endblock %}

{% block content %}
    {% include 'mixins/room/room_thumbnail.html' with room=room %}
    <div class='container mx-au flex justify-around pb-56'>
        <div class='w-1/2'>
            {% include 'mixins/room/room_info.html' with room=room %}
            <div class='mt-10'>
                {% include 'mixins/room/room_review.html' with room=room %}
            </div>
        </div>
        <div class='w-1/3'>
            {% if room.host == user %}
                <a href='{% url "rooms:edit" room.pk %}' class='btn-link block'>Edit Room</a>
            {% else %}
                {% if not request.session.is_hosting %}
                    {% include 'mixins/calendar.html' with room=room %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}