{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}
    Reservation
{% endblock %}

{% block content %}
    <div class="container mx-auto pb-10 flex flex-col">
        <h3 class="mb-12 text-2xl">Reservation</h3>
        <div class="flex flex-wrap">
        {% for reservation in reservations %}
            <div class='mt-2'>
                {% if request.session.is_hosting %}
                    {% if reservation.guest == request.user %}
                        {% include 'mixins/reservation_card.html' with reservation=reservation room=reservation.room %}
                    {% endif %}
                {% else %}
                    {% if reservation.room.host == request.user %}
                        {% include 'mixins/reservation_card.html' with reservation=reservation room=reservation.room %}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}