{% if room.reviews.count %}
    <h4 class='font-medium text-2xl mb-5'>Reviews</h4>
    <div class='flex items-center'>
        <div>
            <i class="fas fa-star text-teal-500"></i>
            <span class='font-bold text-xl'>{{ room.total_rating }}</span>
        </div>
        <div class='h-5 w-px bg-gray-400 mx-5'></div>
        <div>
            <span class='font-bold text-xl'>{{ room.reviews.count }}</span>
            <span>review{{ room.reviews.count|pluralize }}</span>
        </div>                   
    </div>
    <div class='mt-10'>
        {% for review in room.reviews.all %}
            <div class="border-section">
                <div class='mb-3 flex'>
                    <div>
                        {% include 'mixins/user_avatar.html' with user=review.user h_and_w='w-10 h-10' text='text-xl' %}
                    </div>
                    <div class='flex flex-col ml-5'>
                        <span class='font-medium'>{{ review.user.first_name }}</span>
                        <span class='text-sm text-gray-500'>{{ review.created|date:'F Y' }}</span>
                    </div>
                    {% if request.user == review.user %}
                        <a href="{% url 'reviews:delete' room.pk review.pk %}">
                            <i class="fas fa-times ml-2 text-red-600"></i>
                        </a>
                    {% endif %}
                </div>
                <p>{{ review.review }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class='font-medium text-2xl mb-5'>No reviews (yet)</div>
{% endif %}